body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(207, 197, 197);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    background-color: rgb(93, 101, 105);
    font-size: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(33, 41, 43);
}

nav li {
    display: inline-block;
    margin: 0 8px;
}

nav a {
    text-decoration: none;
}

.logo {
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

}

nav a:hover {
    color: whitesmoke;
}

.menu-line {
    height: 3px;
    width: 20px;
    background-color: rgb(33, 41, 43);
    margin-bottom: 3px;

}

.menu {
    cursor: pointer;
    display: none;

}

@media all and (max-width:640px) {
    nav {
        flex-direction: column;
    }

    nav li {
        display: block;
        padding: 10px 0;
    }

    ul {
        text-align: center;
        padding: 0;
        display: none;
    }

    .logo {
        align-self: flex-start;
        margin: 10px 0px 0px 30px;
    }

    .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }

    .showmenu {
        display: block;
    }

}

#section1 {
    article {
        float: left;
        padding: 20px;
        width: 70%;
        height: 300px;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    p {
        text-align: center;
        color: rgb(31, 32, 85);
    }
}

#section2 {
    * {
        box-sizing: border-box;
    }

    img {

        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        position: absolute;

    }

    .mySlides {
        display: none;
    }


    .cursor {
        cursor: pointer;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    .column {
        float: left;
        width: 16.66%;
    }

    .demo {
        opacity: 0.6;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }
}

#section3 {
    body {
        background-color: rgb(207, 197, 197);
    }

    div.gallery {
        border: 1px solid #ccc;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;

    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }

    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }

    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
}

#section4 {
    body {
        background-color: rgb(207, 197, 197);
    }

    * {
        box-sizing: border-box;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid rgb(207, 197, 197);
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .container {
        border-radius: 5px;
        background-color: rgb(207, 197, 197);
        padding: 10px;
    }

    .column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 20px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (max-width: 600px) {

        .column,
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
}
